* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }
  

  // - - test

  
  // - - test


body {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
 }

.hidden {
  display: none;
}

.keyboard-wrapper {
  // border: 1px solid green;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .kb-header {
    text-align: center;
    margin: 20px auto;
    font-family: 'Arial';
  }

  .textarea-container {
    width: 95%;
    margin: 0 auto;
    // border: 1px solid red;
    .kb-textarea {
      width: 100%;

    }
  }

}



.keyboard {
  width: calc( #{$btn-width} * 15 + #{$btn-gap} * 18 );
  // height: 150px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: $btn-gap;
  border: 3px solid $btn-frame-color;
  background-color: $keys-back-color;
  border-radius: 3px;

  margin-top:5px;
  padding: $btn-gap;

  .key-btn {
    height: $btn-height;
    border: 1px solid $btn-frame-color;
 
    color: $btn-text-color;
    text-shadow: -1px 0px black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: 700;

    transition: 0.3s;

    &:hover {
      cursor: pointer;
    }
    &.pressed {
      cursor: pointer;
      background-color: $btn-pressed-color;
      transform: scale(.9);
      border: 4px solid $btn-frame-color;
    }
    &:active {
      cursor: pointer;
      background-color: $btn-pressed-color;
      transform: scale(0.9);
      border: 4px solid $btn-frame-color;
  
    }
   

  }

  .regular {
    background-color: $btn-back-color;
    &:hover {
      background-color: $btn-hover-color;
    }
  }

  .mod {
    background-color: $btn-mod-color;
    &:hover {
      background-color: $btn-mod-hover-color;
    }
  }
  .move {
    background-color: $btn-move-color;
    &:hover {
      background-color: $btn-move-hover-color;
    }
  }
  .edit {
    background-color: $btn-edit-color;
    &:hover {
      background-color: $btn-edit-hover-color;
    }
  }

 


  .btn-size-x1 {
    width: $btn-width;
  }
  .btn-size-x2 {
    width: calc( #{$btn-width} * 2 + #{$btn-gap} );
  }
  .btn-size-x7 {
    width: calc( #{$btn-width} * 7 + #{$btn-gap} * 6 );
  }
  .btn-size-x8 {
    width: calc( #{$btn-width} * 8 + #{$btn-gap} * 7);
  }

}

.status-container {
  border: 2px solid black;
  border-top: none;
  background-color: darkgray;

  border-radius: 0 0 4px 4px;
  font-family: Arial;
  font-size: 10px;
  width: 80%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .status-git-img {
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }
  .status-rss a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgb(60, 60, 60);
    }
  }

}